.nav-wrapper {
  background: rgb(255, 115, 0);
 font-family: 'NAMU 1600';
 
}
.btn{
  background:rgb(255, 115, 0);
  border-radius: 15px;
}
.btn:hover{
  background:rgb(247, 197, 33);
}
.logo {
  width: 40px
}
.navb {
  
}
