.map {
  font-family: 'NAMU 1600';
  z-index: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

[class*='copyrights-pane'] {
  display: none !important;
}

.ymaps-2-1-79-image {
  border-radius: 50%;
  border: 2px solid rgb(49, 129, 181);
}
.filterad {
  font-family: 'NAMU 1600';
  z-index: 5;
  height: 100%;
  right: 10px;
  position: fixed;
  top: 75px;
  width: 250px;
  background-color: rgb(255, 255, 255);
  /* border-radius: 15px; */
  border: 1px solid rgb(255, 115, 0);
}
.filterlist {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  margin: 30px;
}
.filterlistFirst {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  color: rgb(255, 115, 0);
  margin-bottom: 30px;
}
.Typean {
  margin-top: 30px;
}
.alllist{
  font-family: 'NAMU 1600';
  z-index: 5;
  height: 100%;
  left: 10px;
  position: fixed;
  top: 75px;
  width: 450px;
  background-color: rgb(255, 255, 255);
  /* border-radius: 15px; */
  border: 1px solid rgb(255, 115, 0);
}


.sizeimgcards {
  width: 100px;
  border-radius: 10px;
   margin-top: 5px;
   margin-left: 5px;
}
.containerad {
  color: black;
  padding-left: 10px;
}
.titlead {
  text-decoration: none;
}
.nametitle {
  color: rgb(111, 111, 111);
  font-size: 12px;
}
.nametitle {
  color: rgb(111, 111, 111);
  font-size: 12px;
}
.formcard{
  display: flex;
  border: 1px solid silver;
  margin: 5px;
}
/* .cardad {
  width: 300px;
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid rgb(255, 115, 0);
  margin-left: 18px;
  text-decoration: none;
  position: absolute;
}

.containerad {
  color: black;
  padding-left: 10px;
}

.conteinerforad a {
  display: flex;
  height: 50px;
  margin-bottom: 20px;
}

.sizeimgcards {
  width: 100px;
  border-radius: 10px;
}
.titlead {
  text-decoration: none;
}
.nametitle {
  color: rgb(111, 111, 111);
  font-size: 12px;
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  max-width: 1140px;
  margin: 0 auto;
  height: 100vh;
}

.grid-element {
  padding: 5px;

  font-size: 14px;
  color: rgb(31, 31, 31);
}

.bg-gray {
  width: 1140px;
  margin: 20px auto;
  height: 120px;
  border: 2px solid rgb(255, 115, 0);
  border-radius: 15px;
}

.bg-red {
  width: 450px;
  height: 100%;
  z-index: 1;
  background-color: white;
  left: 5px;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
}

.bg-blue {
  width: 760px;
  height: 530px;
  border: 2px solid rgb(255, 115, 0);
  border-radius: 15px;
}

.grid-header {
  position: absolute;
  left: 500px;
  z-index: 2;
  background-color: white;
}



.grid-main {
  grid-column-start: 5;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 13;
}
.adline-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  
}
.city {
  width: 200px;
  height: 30px;
  font-size: 16px;
  border: rgb(255, 115, 0);
  background-color: rgb(252, 231, 214);
}


.btnnav {
  color: rgb(255, 115, 0);
  text-decoration: none;
  text-align: center;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(255, 115, 0);
  font-weight: 300;
  font-size: 15px;
  width: 100px;
  padding: 5px 10px;
  border-radius: 50px;
  transition: 300ms rgb(255, 115, 0), 300ms, background rgb(255, 115, 0);
  transition-duration: 0.3s;
}
.btnnav:hover {
  color: #fff;
  background: rgb(255, 115, 0);
  text-decoration: none;
  background: rgb(255, 115, 0);
}

.advertSingl{
background-color: white;
border: 1px solid silver;
margin: 5px;
}

.map {
  margin-top: 65px;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

[class*="copyrights-pane"] {
	display: none !important;
}

.ymaps-2-1-79-image{
  border-radius: 50%;
  border: 2px solid rgb(49, 129, 181);
} */
